
#input-container {
    margin: 10px;
    background: #ff7787;
}

#directions-panel-1 {
    margin-top: 10px;
    background: grey;
    padding: 10px;
    overflow: scroll;
    height: 200px;
}
#directions-panel-2 {
    margin-top: 10px;
    background-color: #ff7787;
    padding: 10px;
    overflow: scroll;
    height: 200px;
}

.sep {
    color: #ffffff;
    background: #ff7787;
}